.alert {

   position: relative;
   width: 100%;
   height: 0;
   margin-bottom: 0;
   overflow: hidden;
   padding: 0;
   .transition();

   &-active {
      height: 75px;
      margin-bottom: 0;
   }

   &-notice {
      background: @notice;
   }

}